<!DOCTYPE html>
<html class="bg-white">
<head>
    <title>弹出消息页面</title>
    <% include("../../../layout/cssPart.html"){} %>
</head>
<body>
<!-- 页面加载loading -->
<% include("../../../layout/loading.html"){} %>
<!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<div class="layui-fluid">
    <div id="showHtml">
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;

        <!-- 初始化加载方法 -->
        $(document).ready(function () {
            console.log('ready start');
            var toReplyId='${toReplyId}';
            $.ajax({
                url: '/discuss/reply/list/replyId',
                type: 'POST',
                data: {
                    'toReplyId': toReplyId
                },
                success: function (resp) {
                    console.log(resp);
                    dealReplay(resp);
                }
            });
        });

        function dealReplay(resp) {
            if(resp.code == 200){
                var dataList = resp.data;
                console.log("dataList"+dataList);
                var divShow = "";

                if(resp.count == '0'){
                    $("#showHtml").html("无单独回复");
                }else{
                    $.each(dataList, function(i,data){
                        console.log("success data is "+ data);
                        var value = filterMessage(data.replyDesc);
                        var name = filterMessage(data.createName);
                        var time = filterMessage(data.createDate);
                        var id = data.id;

                        divShow = divShow +
                            "<div class='layui-row'>"+
                            "<div class='layui-col-xs6' style='font-size: 15px; color: #454545'>"+
                            name+
                            "</div>"+
                            "<div class='layui-col-xs6' style='font-size: 15px; color: #999999'>" +
                            time+
                            "</div>" +
                            "</div>" +
                            "<div class='layui-row' style='font-size: 15px'>" +
                            value+
                            "</div>";
                        console.log("success divShow is "+ divShow);
                        $("#showHtml").html(divShow);
                    });
                }
            }else if(resp.code == 500){
                $("#showHtml").html("无单独回复");
            }else{
                top.layer.msg(resp.msg, {icon: 1});
            }
        };

        <!-- 过滤特殊字符串 -->
        function filterMessage(value) {
            var regl = new RegExp("&lt;","g");
            var regg = new RegExp("&gt;","g");
            var regu = new RegExp("&quot;","g");
            value = value.replace(regl,"<");
            value = value.replace(regg,">");
            value = value.replace(regu,"");
            return value;
        };
    });
</script>
</body>
</html>