<!DOCTYPE html>
<html>
<head>
    <title>回复管理</title>
    <% include("../../../layout/cssPart.html"){} %>
    <link href="/static/assets/css/wangEditor.css" rel="stylesheet" />
    <link href="/static/assets/css/wangEditor-verb.css" rel="stylesheet" />
    <link href="/static/assets/css/fonts/w-e-icon.woff"  rel="stylesheet" />
</head>
<body>
<!-- 页面加载loading -->
<% include("../../../layout/loading.html"){} %>
<!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<script src="/static/assets/js/wangEditor.js"></script>
<script src="/static/assets/js/wangEditor-image-upload.js"></script>

<!-- 正文开始 -->
<div class="layui-fluid" style="height: 1920px">
    <div class="layui-col-md9">
        <div class="layui-row" style="height: 70%">
            <div class="layui-card">
                <div class="layui-card-header">议题</div>
                <div class="layui-card-body">

                </div>
            </div>
        </div>

        <div class="layui-row" style="height: 30%">
            <div class="layui-card">
                <div class="layui-card-header">我要回复</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <input id="issueId" type="hidden" value="1111"/>
                        <div>
                            <div id="layui-upload-list" name="layui-upload-list" class="layui-upload-list">

                            </div>
                        </div>
                        <div class="layui-form container">
                            <div id="editor" name="editor">

                            </div>
                            <div class="layui-input-block" style="text-align: right;">
                                <input type="radio" name="shiro" value="公开" title="公开" checked>
                                <input type="radio" name="shiro" value="隐私" title="隐私">
                            </div>
                            <div style="margin: 5px;text-align: center;">
                                <button class="layui-btn layui-btn-sm" id="fileUpload">上传</button>
                                <button class="layui-btn layui-btn-sm" type="reset">重置</button>
                                <button class="layui-btn layui-btn-sm" lay-filter="submitEdit" lay-submit>保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3" style="height: 100%">
        <div class="layui-card">
            <div class="layui-card-header">评价</div>
            <div class="layui-card-body">
                <div id="showHtml">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 富文本编辑器 -->
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 设置图片上传的type的参数
    editor.customConfig.uploadFileName = "file";
    // 设置图片上传接口
    editor.customConfig.uploadImgServer = '/system/file/uploadFile';

    //自定义上传图片事件
    editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {

        },
        success: function (xhr, editor, result) {

        },
        fail: function (xhr, editor, result) {
            alert("上传失败,原因是" + result);
        },
        error: function (xhr, editor) {
            alert("上传出错");
        },
        timeout: function (xhr, editor) {
            alert("上传超时");
        },
        customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            // result 必须是一个 JSON 格式字符串！！！否则报错
            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            var url = result.msg;
            url = "/system/file/view?fileId="+url;
            insertImg(url)
        }
    };
    //开启debug模式
    editor.customConfig.debug = true;
    // 关闭粘贴内容中的样式
    editor.customConfig.pasteFilterStyle = false;
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = true;

    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'undo',  // 撤销
        'redo'  // 重复
    ];

    // 隐藏tab中网络图片功能
    editor.customConfig.showLinkImg = false;

    editor.create();
</script>

<!-- 文件上传与预览 -->
<script>
    layui.use(['upload'], function () {
        var $ = layui.$;
        var upload = layui.upload;

        upload.render({
            elem: '#fileUpload',
            url: '/system/file/upload/multi/file',
            accept: 'file',
            multiple: true,
            done: function (res) {
                var code = res.code;
                if(code == '200'){
                    for(var i=0; i<res.data.length; i++){
                        var dataValue = res.data[i];
                        var url = "http://127.0.0.1:8088/upload/wlyz/"+dataValue.filename;
                        url = encodeURIComponent(url);
                        var windowShow = 'http://127.0.0.1:8012/onlinePreview?url='+url;
                        var windowShowBlank = "<a class='btn btn-default' id='"+dataValue.id+"' target='_blank' href="+windowShow+">"+dataValue.sourceName+"</a>";
                        $("#layui-upload-list").append(windowShowBlank);
                    }
                }
            }
        });
    });
</script>

<!-- 展示议题 -->

<!-- 展示评论 -->
<script>
    layui.use(['layer','form'],function(){
        var $ = layui.$;
        var layer = layui.layer;
        var value = "&lt;blockquote&gt;&lt;p&gt;&lt;br&gt;打发斯蒂芬&lt;/p&gt;&lt;/blockquote&gt;";
        var regl = new RegExp("&lt;","g");
        var regg = new RegExp("&gt;","g");
        var regu = new RegExp("&quot;","g");

        value = value.replace(regl,"<");
        value = value.replace(regg,">");
        value = value.replace(regu,"");
        console.log("value is "+value);

        $("#showHtml").html(value);

    });
</script>

<!-- 提交回复 -->
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        var $ = layui.$;

        form.on('submit(submitEdit)', function (obj) {
            console.log('start');
            var issueId = $("#issueId").val();
            var replyDesc = editor.txt.html();
            var showLevel = $("input[name='shiro']:checked").val();
            var child = $("#layui-upload-list").children();
            var size = child.size();
            console.log(size);
            var fileList = [];
            var fileValue;
            for(var ix = 0; ix < size; ix++){
                fileList[ix] = child.eq(ix).attr("id");
            };
            console.log("fileList = "+fileList);
            fileValue = fileList.join(',');
            layer.load(2);

            var dataValue = {
                'issueId':issueId,
                'replyDesc':replyDesc,
                'showLevel':showLevel,
                'fileList': fileValue
            };

            console.log('dataValue = ' + dataValue);

            $.ajax({
                url: '/discuss/reply/add',
                type: 'POST',
                data: dataValue,
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        top.layer.msg(data.msg, {icon: 1});
                        // 关闭当前iframe弹出层
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    } else {
                        top.layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        })
    });
</script>

</body>
</html>