<!DOCTYPE html>
<html class="bg-white">
<head>
    <title>弹出回复消息页面</title>
    <% include("../../../layout/cssPart.html"){} %>
</head>
<body>
<!-- 页面加载loading -->
<% include("../../../layout/loading.html"){} %>
<!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<div class="layui-fluid">
    <form class="layui-form">
        <div class="layui-form-item layui-form-text">
            <input id="id" type="hidden" name="toReplyId"/>
            <input id="issueId" type="hidden" name="issueId"/>
            <input type="hidden" name="showLevel" value="隐私"/>
            <input type="hidden" name="toReplyUserId" id="toReplyUserId"/>
            <input type="hidden" name="toReplyUserName" id="toReplyUserName"/>
            <label class="layui-form-label">
                回复
            </label>
            <div class="layui-input-block">
                <textarea id="replyDesc" name="replyDesc" required class="layui-textarea" placeholder="请输入回复消息"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" lay-filter="sendButton" lay-submit>提交</button>
        </div>
    </form>
</div>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;

        <!-- 初始化加载方法 -->
        $(document).ready(function () {
            console.log('ready start');
            var id='${id}';
            var issueId='${issueId}';
            var toReplyUserId='${toReplyUserId}';
            var toReplyUserName='${toReplyUserName}';
            $("#id").val(id);
            $("#issueId").val(issueId);
            $("#toReplyUserId").val(toReplyUserId);
            $("#toReplyUserName").val(toReplyUserName);
        });

        form.on('submit(sendButton)', function (data){
            console.log("form start");
            console.log(data);
            var url = "/discuss/reply/add";
            layer.load(2);
            $.post(url, data.field, function (data){
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    // 关闭当前iframe弹出层
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            } );
            return false;
        });
    });
</script>
</body>
</html>