<!DOCTYPE html>
<html>
<head>
    <title>回复管理</title>
    <% include("../../../layout/cssPart.html"){} %>
    <link href="/static/assets/css/wangEditor.css" rel="stylesheet" />
    <link href="/static/assets/css/wangEditor-verb.css" rel="stylesheet" />
    <link href="/static/assets/css/fonts/w-e-icon.woff"  rel="stylesheet" />
</head>
<style>
    .big_font{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background:#4bbc8b;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        padding: 0.2em;
    }
</style>
<body>
<!-- 页面加载loading -->
<% include("../../../layout/loading.html"){} %>
<!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<script src="/static/assets/js/wangEditor.js"></script>
<!-- 正文开始 -->
<div class="layui-fluid" style="overflow: hidden;">
    <div class="layui-col-md9">
        <!-- 通用隐藏值 -->
        <input id="issueId" type="hidden" name="issueId"/>
        <input id="issueName" type="hidden" name="issueName"/>
        <input id="toReplyUserId" type="hidden" name="toReplyUserId"/>
        <div class="layui-row" style="height: 330px">
            <% include("./reply_issue.html"){} %>
        </div>
        <div class="layui-row" style="height: 180px">
            <% include("./reply_editor.html"){} %>
        </div>
    </div>
    <div class="layui-col-md3" style="height: 784px; overflow-y: auto;">
        <% include("./reply_list.html"){} %>
    </div>
</div>
<script>
    layui.use(['upload'], function (){
        var $ = layui.$;

        <!-- 初始化加载方法 -->
        $(document).ready(function () {
            console.log('start editor');
            setHiddenValue();
        });

        <!-- 设置hidden值 -->
        function setHiddenValue() {
            var issueId='${issueId}';
            var issueName = '${issueName}';
            var toReplyUserId='${toReplyUserId}';
            $("#issueId").val(issueId);
            $("#issueName").val(issueName);
            $("#toReplyUserId").val(toReplyUserId);
        };
    });
</script>
</body>
</html>