
<div class="layui-card-body" style="text-align: center;">
    <h2 style="margin-top: 170px;margin-bottom: 20px;font-size: 28px;color: #91ADDC;">您好！『${session.loginUser.realName}』欢迎使用河南雪城软件办公管理系统 !</h2>
 <!--  <form id="add" class="form-horizontal" enctype="multipart/form-data" action="/system/file/uploadFile" method="post">
        上传图片：<input  type="file" name="file"/>
        <input type="submit" value="提交"/>
    </form>-->
    <!--<img src="http://192.168.15.169:8088/system/file/view?fileId=20" style="max-width: 100%;">-->
    <!--<img src="/system/file/view?fileId=20" style="max-width: 100%;">-->
    <img src="/static/assets/images/welcome.png" style="max-width: 100%;">
</div>
