<!DOCTYPE html>
<html class="bg-white">

<head>
    <title>添加/修改机构</title>
    <% include("../../layout/cssPart.html"){} %>
</head>

<body>

<form id="departForm" lay-filter="departForm" class="layui-form model-form">
    <input name="departId" type="hidden" value="${departId}"/>
    <input name="id" type="hidden"/>
    <input name="parentId" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">机构名称</label>
        <div class="layui-input-block">
            <input name="departName" placeholder="请输入机构名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构编码</label>
        <div class="layui-input-block">
            <input name="orgCode" placeholder="请输入机构编码" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构类型</label>
        <div class="layui-input-block">
            <input type="radio" name="orgType" value="1" title="区域" checked>
            <input type="radio" name="orgType" value="2" title="职能部门" >

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构级别</label>
        <div class="layui-input-block">
            <input name="departLevel" placeholder="机构级别如：1" type="text" class="layui-input" maxlength="1"
                   lay-verify="required|number" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构地址</label>
        <div class="layui-input-block">
            <textarea name="address" placeholder="请输入内容" class="layui-textarea" maxlength="200"></textarea>
        </div>
    </div>
    <div class="layui-form-item text-right" id="edit">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="formSubmit" lay-submit>保存</button>
    </div>

    <div class="layui-form-item text-right" id="view" style="display: none">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">关闭</button>
    </div>
</form>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        var url = 'add';
        // 回显数据
        var data = admin.getTempData('t_depart');
        if (data) {
            if(data.event!="view"){
                $("#edit").show();
                $("#view").hide();
                url = 'update';
                form.val('departForm', data.data);
            }else{
                $("#view").show();
                $("#edit").hide();
                form.val('departForm', data.data);
            }

        }

        // 表单提交事件
        form.on('submit(formSubmit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    admin.putTempData('formOk', true);  // 操作成功刷新表格
                    // 关闭当前iframe弹出层
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });

    });
</script>

</body>
</html>