<!DOCTYPE html>
<html>
<head>
    <title>BigCorn 后台管理系统</title>
    <% include("../../layout/cssPart.html"){} %>
    <link rel="stylesheet" href="/static/assets/module/formSelects/formSelects-v4.css"/>
    <link rel="stylesheet" href="/static/assets/module/dtree/dtree.css"/>
    <link rel="stylesheet" href="/static/assets/module/dtree/font/dtreefont.css"/>
    <style>
        .chooseCss .chooseHeader {
            width: 698px;
            padding: 12px 0 12px 22px;
            background: #EDF7F8;
            border-bottom: 1px solid #deeeee;
        }
        .chooseCss .chooseHeader .title {
            font-weight: bold;
            font-size: 16px;
            color: #333;
        }
        .chooseCss .chooseHeader .search input{
            width: 215px;
            height: 36px;
            display: inline-block;
            margin-left: 60px;
            color: #aeaeae;
            border: 1px solid #deeeee;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            border-radius: 18px;
        }
    </style>
</head>
<body>

<!-- 页面加载loading -->
<% include("../../layout/loading.html"){} %>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space12">
        <!-- 左树 -->
        <div class="layui-col-sm12 layui-col-md3 layui-col-lg3" >
            <div class="layui-card" style="overflow:auto;">
                <div class="layui-card-body" style="min-height: 560px;">
                    <div class="layui-card-header">组织机构树 ${ctxPath}</div>
                    <div class="layui-card-body mini-bar" id="ltTree">
                    </div>
                </div>
            </div>
        </div>

        <!-- 右表 -->
    <div class="layui-col-sm12 layui-col-md9 layui-col-lg9">
      <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <input id="departId" name="departId" value="${depart.id}"  type="hidden"/>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 120px;">
                        <select id="sltKey">
                            <option value="">-搜索条件-</option>
                            <option value="user_name">账号</option>
                            <option value="real_name">用户名</option>
                            <option value="mobile_phone">手机号</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>
            <!-- 表格顶部操作列 -->
            <script type="text/html" id="user-toolbar">
               <div class="layui-btn-container">
                  <button id="btnAdd" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" lay-tips="新用户密码为123456">
                      <i class="layui-icon">&#xe654;</i>添加
                  </button>
                  <button id="btnExp" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" >
                      <i class="layui-icon">&#xe67d;</i>导出
                  </button>
                  <button id="btnImp" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import" >
                      <i class="layui-icon">&#xe681;</i>导入
                  </button>
               </div>
            </script>
            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
    </div>
</div>
</div>
<div id="chooseUser" style="height: 262px;display: none;" hidden class="chooseCss">
    <div class="chooseContent" style="height: 150px;">
        <div style="text-align: center;">
            <a href="/static/template/用户导入模版文件.xls" title="点击下载模版文件" style="font-size: 18px;color: blue;">点击下载模版文件</a>
            <p>温馨提示：模版文件格式要求为【.XLS】</p>
        </div>
        <div class="layui-upload" style="margin: 20px 0 0 20px;">
            <button type="button" class="layui-btn layui-btn-normal" id="chooseFile">选择文件</button><br>
            <button type="button" class="layui-btn" id="uploadFile" style="margin-top: 5px;">开始导入</button>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">${ctxPath}修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tbaleState">
    <input type="checkbox" lay-filter="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|锁定"
            {{d.status==0?'checked':''}}/>
</script>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'dtree',"upload"], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var dtree = layui.dtree;
        var upload = layui.upload;
        var departId=$("#departId").val();
        // 树形渲染
        var dtr=dtree.render({
            elem: '#ltTree',
            url: '/system/depart/treeDepart?departId='+departId,
            accordion:true ,
            menubar:true,
            line:false,
            load:false,
            ficon:["1", "2"],
            skin: "layui",
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
        });


        // 树形点击事件
        dtree.on('node("ltTree")', function (obj) {
            var data = obj.param;
            $("#departId").val(data.nodeId);
            table.reload("userTable",{where: {departId: data.nodeId}});
        });

        // 渲染表格
        var ins1 = table.render({
            elem: '#userTable',
            url: 'user/list',
            where:{departId: departId},
            toolbar: '#user-toolbar',
            page: true,
            cols: [[
                {type: 'numbers',title:'序号'},
                {type: 'checkbox'},
                {field: 'userName', width:130, sort: true,align:'center',title: '账号'},
                {field: 'realName',sort: true,align:'center', title: '用户名'},
                {field: 'mobilePhone',width:120, sort: true,align:'center', title: '手机号'},
                {field: 'sex', sort: true, width:70,align:'center',title: '性别'},
                {field: 'userType', sort: true, width:120,align:'center',title: '用户类型',
                    templet: function (d) {
                        if(d.userType == '0'){
                            return '管理员用户';
                        } else if(d.userType == '1'){
                            return '系统用户';
                        }else if(d.userType==null) {
                            return '';
                        }else {
                            return d.userType;
                        }
                    }
                },
                { field: 'createDate', width:180, sort: true, templet: function (d) {
                    return util.toDateString(d.createDate);
                },align:'center', title: '创建时间'},
                {field: 'status', sort: true, width:100,align:'center', templet: '#tbaleState', title: '状态'},
                {align: 'center', toolbar: '#tableBar', title: '操作', width: 230}
            ]]
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            table.reload('userTable', {where: {searchKey: key, searchValue: value}});
        });



        //头工具栏事件
        table.on('toolbar(userTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    showEditModel();
                    break;
                case 'import':
                    importUsers();
                    break;
                case 'export':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkStatus.data, 'xls');
                    }
                    break;
            };
        });


        // 工具条点击事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            }else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (layEvent === 'reset') { // 重置密码
                resetPsw(obj.data.id);
            }
        });

        // 修改user状态
        form.on('switch(status)', function (obj) {
            layer.load(2);
            $.post('user/updateState', {
                userId: obj.elem.value,
                state: obj.elem.checked ? 0 : 1
            }, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            });
        });
        function importUsers(){
            layer.open({
                type: 1,
                title:"用户导入",
                content: $('#chooseUser'),
                area: ['500px', '200px']
            });
            var departId=$("#departId").val();
            upload.render({
                elem: '#chooseFile'
                ,url: 'user/batchImportUser' //改成您自己的上传接口
                ,data: {departId:departId}
                ,auto: false
                ,accept: 'file' //普通文件
                ,exts: 'xls'
                ,bindAction: '#uploadFile'
                ,before: function(){
                    layer.load(2);
                }
                ,done: function(data){
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }
        // 重置密码
        function resetPsw(userId) {
            top.layer.confirm('确定重置此用户的密码吗？', function (i) {
                top.layer.close(i);
                layer.load(2);
                $.post('user/restPsw', {
                    userId: userId
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 显示表单弹窗
        function showEditModel(data) {
            var departId=$("#departId").val();
            admin.putTempData('t_user', data);
            console.log(data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: data ? '修改用户' : '添加用户',
                area: ['420px', '520px'],
                content: 'system/user/editForm?departId='+departId,
                end: function () {
                    admin.getTempData('formOk') && table.reload('userTable');  // 成功刷新表格
                }
            });
        }
        // 删除
        function doDelete(obj) {
            top.layer.confirm('确定要删除吗？', function (index) {
                top.layer.close(index);
                layer.load(2);
                $.post('user/delete', {
                    userId: obj.data.id
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }
    });

</script>
</body>

</html>