<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scsoft.xgsb.yqsb.mapper.DetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scsoft.xgsb.yqsb.entity.Detail">
        <id column="id" property="id" />
    <result column="create_id" property="createId" />
    <result column="create_name" property="createName" />
    <result column="create_date" property="createDate" />
    <result column="update_id" property="updateId" />
    <result column="update_name" property="updateName" />
    <result column="update_date" property="updateDate" />
    <result column="remark" property="remark" />
    <result column="is_del" property="isDel" />
        <result column="user_name" property="userName" />
        <result column="user_depart" property="userDepart" />
        <result column="out_state" property="outState" />
        <result column="wh_fz" property="whFz" />
        <result column="wh_detail" property="whDetail" />
        <result column="wh_date" property="whDate" />
        <result column="hd_xznsz" property="hdXznsz" />
        <result column="fsgm" property="fsgm" />
        <result column="jsfsgm" property="jsfsgm" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="jtyx" property="jtyx" />
        <result column="jf_date" property="jfDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_id,
        create_name,
        create_date,
        update_id,
        update_name,
        update_date,
        remark,
        is_del,
        id, user_name, user_depart, out_state, wh_fz, wh_detail, wh_date, hd_xznsz, fsgm, jsfsgm, address, status, jtyx, jf_date
    </sql>

</mapper>
