<!DOCTYPE html>
<html>
<head>
    <title>周报内容</title>
    <% include("../../layout/cssPart.html"){} %>
    <link rel="stylesheet" href="/static/assets/module/formSelects/formSelects-v4.css"/>
    <style>
        .layui-table-cell {
            height: auto;
        }
        .chooseCss .chooseHeader {
            width: 698px;
            padding: 12px 0 12px 22px;
            background: #EDF7F8;
            border-bottom: 1px solid #deeeee;
        }
        .chooseCss .chooseHeader .title {
            font-weight: bold;
            font-size: 16px;
            color: #333;
        }
        .chooseCss .chooseHeader .search input{
            width: 215px;
            height: 36px;
            display: inline-block;
            margin-left: 60px;
            color: #aeaeae;
            border: 1px solid #deeeee;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            border-radius: 18px;
        }
    </style>
</head>
<body class="layui-layout-body">

<!-- 页面加载loading -->
<% include("../../layout/loading.html"){} %>

    <!-- 正文开始 -->
    <div class="layui-card-body">
        <!-- 表格顶部操作列 -->
        <div id="chooseWeekly" style="height: 262px;display: none;" hidden class="chooseCss">
            <div class="chooseContent" style="height: 150px;">
                <div style="text-align: center;">
                    <a href="/static/template/用户导入模版文件.xls" title="点击下载模版文件" style="font-size: 18px;color: blue;">点击下载模版文件</a>
                    <p>温馨提示：模版文件格式要求为【.XLS】</p>
                </div>
                <div class="layui-upload" style="margin: 20px 0 0 20px;">
                    <button type="button" class="layui-btn layui-btn-normal" id="chooseFile">选择文件</button><br>
                    <button type="button" class="layui-btn" id="uploadFile" style="margin-top: 5px;">开始导入</button>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="layui-form toolbar">
            <div class="layui-form-item" style="margin-top: 15px;margin-left: 70px">
                <div class="layui-inline" style="width: auto;">
                    <form style="float: left">
<!--                        <div class="layui-inline">-->
<!--                            <label class="layui-form-label w-auto" style="padding: 9px 0px;">项目编码：</label>-->
<!--                            <div class="layui-input-inline mr0">-->
<!--                                <input id="proId" class="layui-input" type="text"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="layui-inline">-->
<!--                            <label class="layui-form-label w-auto" style="padding: 9px 0px;">项目名称：</label>-->
<!--                            <div class="layui-input-inline mr0">-->
<!--                                <input id="proName" class="layui-input" type="text"/>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="layui-inline">
                            <label class="layui-form-label w-auto" style="padding: 9px 0px;">开始时间：</label>
                            <div class="layui-input-inline mr0">
                                <input id="startDate" class="layui-input" type="text" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label w-auto" style="padding: 9px 0px;">结束时间：</label>
                            <div class="layui-input-inline mr0">
                                <input id="endDate" class="layui-input" type="text" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </form>
                    <div class="layui-inline">
                        <button id="btnSearch" type="button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/html" id="weekly-toolbar">
            <div class="layui-btn-container">
                <button id="btnAdd" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">
                    <i class="layui-icon">&#xe654;</i>添加
                </button>
                <button id="btnExp" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" >
                    <i class="layui-icon">&#xe67d;</i>导出
                </button>
<!--                <button id="btnImp" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import" >-->
<!--                    <i class="layui-icon">&#xe681;</i>导入-->
<!--                </button>-->
            </div>
        </script>
        <table class="layui-table" id="weeklyTable" lay-filter="weeklyTable"></table>
    </div>
    <!-- 表格操作列 -->
    <script type="text/html" id="tableBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">${ctxPath}修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <!-- js部分 -->
    <% include("../../layout/jsPart.html"){} %>
    <script>
        layui.use(['layer', 'form', 'table', 'util', 'admin', 'dtree',"upload","laydate"], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var util = layui.util;
            var admin = layui.admin;
            var upload = layui.upload;
            var laydate = layui.laydate;
            var date = new Date();
            var monday = getLastSaturday(date);
            var friday = getThisFriday(date);
            //时间选择器
            laydate.render({
                elem:'#startDate',
                format:'yyyy-MM-dd',
            });
            laydate.render({
                elem:'#endDate',
                format:'yyyy-MM-dd',
            });
            // 渲染表格
            var ins = table.render({
                elem: '#weeklyTable',
                url: 'weekly/list',
                toolbar: '#weekly-toolbar',
                page: true,
                limit:15,
                limits:[15,30,45,60],
                cols: [[
                    {type: 'checkbox'},
                    {field: 'id', width: 75, sort: true, align: 'center', title: 'ID'},
                    {field: 'project', width: 135,sort: true, title: '项目编码',align: 'center',templet:function(d){
                            if(d.project!=null){
                                var proHtml="";
                                proHtml +="<div style='text-align: center;'>"+d.project.proId+"</div>";
                                return proHtml
                            }else {
                                return ''
                            }
                        }},
                    {field: 'project', width: 200,sort: true, title: '项目名称',align: 'center',templet:function(d){
                            if(d.project!=null){
                                var proHtml="";
                                proHtml +="<div style='text-align: center;'>"+d.project.proName+"</div>";
                                return proHtml
                            }else {
                                return ''
                            }
                        }},
                    {field: 'project', width: 122,sort: true, title: '负责人',align: 'center',templet:function(d){
                            if(d.project!=null){
                                var proHtml="";
                                proHtml +="<div style='text-align: center;'>"+d.project.proManager+"</div>";
                                return proHtml
                            }else {
                                return ''
                            }
                        }},
                    {field: 'startDate', width: 140, sort: true, align: 'center', title: '开始时间'},
                    {field: 'endDate', width: 140, sort: true, align: 'center', title: '结束时间'},
                    {field: 'userName', width: 120, sort: true, align: 'center', title: '添加人'},
                    {field: 'lastMonthHour', width: 140, sort: true, align: 'center', title: '上月周工时(h)'},
                    {field: 'thisMonthHour', width: 140, sort: true, align: 'center', title: '本月周工时(h)'},
                    {field: 'scList', width: 210, title: '周报内容',align: 'center'},
                    {field: 'updateLogList', width: 220, title: '修改信息',align: 'center',templet:function(d){
                            if(d.updateLogList.length>0){
                                var proHtml="";
                                for(var i=0;i<d.updateLogList.length;i++){
                                    proHtml +="<div style='text-align: left;'>"+(i+1)+"."+d.updateLogList[i].userName+"于"+d.updateLogList[i].createDate+"修改"+d.updateLogList[i].updateRow+",修改前为"+d.updateLogList[i].beforeParams+",修改后为"+d.updateLogList[i].afterParams+",修改原因为"+d.updateLogList[i].updateReason+"</div>";
                                }
                                return proHtml
                            }else {
                                return ''
                            }
                        }},
                    {align: 'center', toolbar: '#tableBar', title: '操作', width: 125}
                ]]
            });

            // 搜索按钮点击事件
            $('#btnSearch').click(function () {
                // var proId = $('#proId').val();
                // var proName = $('#proName').val();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                table.reload('weeklyTable', {where: {startDate: startDate,endDate:endDate}});
            });

            //头工具栏事件
            table.on('toolbar(weeklyTable)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'add':
                        showAddModel();
                        break;
                    case 'import':
                        importWeeklies();
                        break;
                    case 'export':
                        if (checkStatus.data.length == 0) {
                            layer.msg('请选择要导出的数据', {icon: 2});
                        } else {
                            table.exportFile(ins.config.id, checkStatus.data, 'xls');
                        }
                        break;
                };
            });

            // 工具条点击事件
            table.on('tool(weeklyTable)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'edit') { // 修改
                    if (data.updateLogList.length>0){
                        layer.msg("审核已过不可修改");
                    }else{
                        showEditModel(data);
                    }
                }else if (obj.event === 'del') { //删除
                    if (data.updateLogList.length>0){
                        layer.msg("审核已过不可删除");
                    }else{
                        doDelete(obj);
                    }
                }
            });

            // function importWeeklies(){
            //     layer.open({
            //         type: 1,
            //         title:"用户导入",
            //         content: $('#chooseUser'),
            //         area: ['500px', '200px']
            //     });
            //     var departId=$("#departId").val();
            //     upload.render({
            //         elem: '#chooseFile'
            //         ,url: 'user/batchImportUser' //改成您自己的上传接口
            //         ,data: {departId:departId}
            //         ,auto: false
            //         ,accept: 'file' //普通文件
            //         ,exts: 'xls'
            //         ,bindAction: '#uploadFile'
            //         ,before: function(){
            //             layer.load(2);
            //         }
            //         ,done: function(data){
            //             layer.closeAll('loading');
            //             if (data.code == 200) {
            //                 layer.msg(data.msg, {icon: 1});
            //             } else {
            //                 layer.msg(data.msg, {icon: 2});
            //             }
            //         }
            //     });
            // }
            // 显示表单弹窗
            function showAddModel() {
                admin.putTempData('formOk', false);
                url = "work/weekly/addForm";
                top.layui.admin.open({
                    type: 2,
                    title: "新增"+monday+"至"+friday+"周报",
                    area: ['50%', '55%'],
                    content: url,
                    end: function () {
                        admin.getTempData('formOk') && table.reload('weeklyTable');  // 成功刷新表格
                    }
                });
            }
            function getLastSaturday(date) {
                var day = date.getDay() || 7;
                return util.toDateString(new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6 -7 - day),"yyyy-MM-dd");
            };
            function getThisFriday (date) {
                var day = date.getDay() || 7;
                return util.toDateString(new Date(date.getFullYear(), date.getMonth(), date.getDate() + 5 - day),"yyyy-MM-dd");
            };
            function getNextFriday(date) {
                var day = date.getDay() || 7;
                return util.toDateString(new Date(date.getFullYear(), date.getMonth(), date.getDate() + 5 + 7 - day),"yyyy-MM-dd");
            };
            function showEditModel(data) {
                admin.putTempData('edit_weekly',data);
                admin.putTempData('formOk', false);
                url = "work/weekly/editForm";
                top.layui.admin.open({
                    type: 2,
                    title: "修改"+data.project.proName+":"+data.startDate+"至"+data.endDate+"周报",
                    area: ['54%', '50%'],
                    content: url,
                    end: function () {
                        admin.getTempData('formOk') && table.reload('weeklyTable');  // 成功刷新表格
                    }
                });
            }
            // 删除
            function doDelete(obj) {
                top.layer.confirm('确定要删除吗？', function (index) {
                    top.layer.close(index);
                    layer.load(2);
                    $.post('weekly/delete', {
                        weeklyId: obj.data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {icon: 1});
                            obj.del();
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    });
                });
            }
        });

    </script>
</body>

</html>