<!DOCTYPE html>
<html class="bg-white">
<head>
    <base href="${ctxPath}">
    <% include("../../layout/cssPart.html"){} %>
    <style type="text/css">
        .label{
            width: 120px;
        }
    </style>
</head>
<body >
<!-- 项目表单弹窗 -->
<form id="projectInfoForm" lay-filter="projectInfoForm" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">完成情况</label>
        <div class="layui-input-inline">
            <select name="proCompletion" lay-verify="required">
                <option value="完成">完成</option>
                <option value="未完成">未完成</option>
            </select>
        </div>
        <label class="layui-form-label">项目编号</label>
        <div class="layui-input-inline">
            <input name="proId" placeholder="输入项目编号" type="text" class="layui-input" maxlength="20" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">合同编号</label>
        <div class="layui-input-inline">
            <input name="contractId" placeholder="输入合同编号" type="text" class="layui-input" maxlength="20"/>
        </div>
        <label class="layui-form-label">项目类型</label>
        <div class="layui-input-inline">
            <select name="proType" lay-verify="required">
                <option value="签单">签单</option>
                <option value="提前下单">提前下单</option>
                <option value="内部研发">内部研发</option>
                <option value="其他">其他</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-inline">
            <input name="proName" placeholder="输入项目名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
        <label class="layui-form-label">项目经理</label>
        <div class="layui-input-inline">
            <select id="proManager" name="proManager" lay-verify="required">
                <% for(user in nameList) { %>
                <option value="${user.realName}">${user.realName}</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">承担部门</label>
        <div class="layui-input-inline">
            <select name="proDept" lay-verify="required">
                <option value="电子政务软件开发部">电子政务软件开发部</option>
                <option value="环保软件开发一部">环保软件开发一部</option>
                <option value="环保软件开发二部">环保软件开发二部</option>
                <option value="综合技术开发部">综合技术开发部</option>
            </select>
        </div>
        <label class="layui-form-label">联合开发</label>
        <div class="layui-input-inline">
            <select name="jointDev" xm-select="jointDev" xm-select-direction="down">
                <option value="电子政务软件开发部">电子政务软件开发部</option>
                <option value="环保软件开发一部">环保软件开发一部</option>
                <option value="环保软件开发二部">环保软件开发二部</option>
                <option value="综合技术开发部">综合技术开发部</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: auto">项目启动时间</label>
        <div class="layui-input-inline">
            <input name="proDatetime" placeholder="输入项目启动时间" type="text" class="layui-input" maxlength="20" lay-verify="required" id="proDatetime" />
        </div>
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-inline">
            <input name="customerName" placeholder="输入客户名称" type="text" class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">签约时间</label>
        <div class="layui-input-inline">
            <input name="contractDatetime" placeholder="输入签约时间" type="text" class="layui-input" maxlength="20" id="contractDatetime"/>
        </div>
        <label class="layui-form-label">签约人</label>
        <div class="layui-input-inline">
            <input name="contractPeople" placeholder="输入签约人" type="text" class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">合同金额</label>
        <div class="layui-input-inline">
            <input name="contractAmount" placeholder="输入合同金额" type="text" class="layui-input" maxlength="20"/>
        </div>
        <label class="layui-form-label" style="width: auto">计划完成时间</label>
        <div class="layui-input-inline">
            <input name="proFinishPlan" placeholder="输入计划完成时间" type="text" class="layui-input" maxlength="20" id="proFinishPlan"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">验收时间</label>
        <div class="layui-input-inline">
            <input name="proFinishActual" placeholder="输入验收时间" type="text" class="layui-input" maxlength="20" id="proFinishActual"/>
        </div>
        <label class="layui-form-label">质保期限</label>
        <div class="layui-input-inline">
            <input name="proZBPeriod" placeholder="输入质保期限" type="text" class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">运维期限</label>
        <div class="layui-input-inline">
            <input name="proYWPeriod" placeholder="输入运维期限" type="text" class="layui-input" maxlength="20"/>
        </div>
        <label class="layui-form-label">付款方式</label>
        <div class="layui-input-inline">
            <input name="contractPayment" placeholder="输入付款方式" type="text" class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="btnSubmit" style="margin-left: 120px">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary" style="margin-left: 50px">重置</button>
    </div>
</form>
<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'admin', 'formSelects','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var admin = layui.admin;
        var laydate = layui.laydate;
        //回显info数据
        url = 'add';
        var info = admin.getTempData('t_info');
        if (info) {
            $('input[name="id"]').attr('readonly', 'readonly');
            url = 'update';
            form.val('projectInfoForm', info);
        }
        //时间控件
        laydate.render({
            elem: '#proDatetime',
            format: 'yyyy-MM-dd',
        });
        laydate.render({
            elem: '#contractDatetime',
            format: 'yyyy-MM-dd',
        });
        laydate.render({
            elem: '#proFinishPlan',
            format: 'yyyy-MM-dd',
        });
        laydate.render({
            elem: '#proFinishPlan',
            format: 'yyyy-MM-dd',
        });
        // 表单提交事件
        form.on('submit(btnSubmit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    admin.putTempData('formOk', true);  // 操作成功刷新表格
                    // 关闭当前iframe弹出层
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });


    });



</script>
</body>

</html>