<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scsoft.xmgl.info.mapper.TaskSummaryMapper">
    <delete id="deleteByWorkSummary" parameterType="map">
        delete from task_summary where pro_name = #{proName} and user_name = #{userName} and begin_date &gt;= #{beginDate} and end_date &lt;= #{endDate}
    </delete>
</mapper>