<!DOCTYPE html>
<html class="bg-white">
<head>
    <title>discussisue</title>
    <% include("../../../layout/cssPart.html"){} %>
    <link href="/static/assets/css/discussissue.css" rel="stylesheet" />
</head>
<body>
<% include("../../../layout/loading.html"){} %>
<!-- 表格顶部操作列 -->
<script type="text/html" id="issue-toolbar">
    <span style="font-size: 20px;font-weight: bold;">最新议题</span>
    <div class="layui-btn-container" style="display: inline-block;margin-left: 40px;">
        <button id="emergency" class="normalButton">紧急</button>
        <button id="setTop" class="normalButton">置顶</button>
        <button id="hottest" class="normalButton">最热</button>
        <button id="choiceness" class="normalButton">精选</button>
    </div>
    <div class="layui-btn-container" style="display: inline-block;float: right;">
        <button class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe654;</i>新增</button>
    </div>
</script>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
<!--  左侧表格-->
                <div class="layui-col-xs12 layui-col-md8" style="border: 1px solid #e6e6e6;background:#f2f2f2;padding: 15px 0;">
                    <div class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label w-auto">议题：</label>
                                <div class="layui-input-inline mr0">
                                    <input id="issues" class="layui-input" type="text" placeholder="输入关键字"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">提议人：</label>
                                <div class="layui-input-inline mr0">
                                    <input name="title" id="proponent" placeholder="请输入责任领导" type="text" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">时间：</label>
                                <div class="layui-input-inline mr0">
                                    <input type="text" class="layui-input" id="timeRange" placeholder="请选择时间范围">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                            </div>
                        </div>
                        <table class="layui-table" id="issueTable" lay-filter="issueTable"></table>
                    </div>
                </div>
<!-- 右侧列表-->
                <div class="layui-col-xs6 layui-col-md4 rightDiv">
<!-- 紧急议题-->
                    <div style="height: 33%;" class="rightEmergencyIssues">
                        <div class="rightEmergencyIssuesTitle">
                            <span style="font-size: 20px;font-weight: bold;color: #F03D5E;"> <img src="/static/assets/images/emergency.png" alt=""> 紧急议题</span>
                            <span style="color:#454545;margin-left: 5px;">需优先处理</span>
                            <button class="layui-btn layui-btn-xs more" style="">更多></button>
                        </div>
<!-- 在这里循环 紧急议题 数据-->
                        <% for(urgentIssue in urgentIssues) { %>
                        <div class="rightEmergencyIssuesList" style="background: #fff;">
                            <div class="emergencyTitle">
                                <a href="#">${urgentIssue.title}</a>
                            </div>
                            <div class="userInformation">
                                <span><img src="/static/assets/images/touxiang.png" alt="" style="margin-right: 5px;">提议人：${urgentIssue.createName}</span>
                                <span style="margin-left: 20px;">${urgentIssue.createDate}</span>
                                <span style="float: right;"><img src="/static/assets/images/yue.png" alt="" style="margin-right: 3px;">166</span>
                            </div>
                        </div>
                        <% } %>

<!--置顶议题 -->
                    <div style="height: 33%;" class="rightSetTopIssue">
                        <div class="rightSetTopIssueTitle">
                            <span style="font-size: 20px;font-weight: bold;color: #4BBC87;"> <img src="/static/assets/images/settop.png" alt="" style="vertical-align: text-top;"> 置顶议题</span>
                            <span style="color:#454545;margin-left: 5px;">已被置顶</span>
                            <button class="layui-btn layui-btn-xs more" style="">更多></button>
                        </div>
<!-- 在这里循环 置顶议题 数据-->
                        <% for(istopIssue in istopIssues) { %>
                        <div class="rightEmergencyIssuesList" style="background: #fff;">
                            <div class="emergencyTitle">
                                <a href="#">${istopIssue.title}</a>
                            </div>
                            <div class="userInformation">
                                <span><img src="/static/assets/images/touxiang.png" alt="" style="margin-right: 5px;">提议人：${istopIssue.createName}</span>
                                <span style="margin-left: 20px;">${istopIssue.createDate}</span>
                                <span style="float: right;"><img src="/static/assets/images/yue.png" alt="" style="margin-right: 3px;">166</span>
                            </div>
                        </div>
                        <% } %>
<!--最热议题 -->
                    <div style="height: 33%;" class="rightHottestIssue">
                        <div class="rightHottestIssueTitle">
                            <span style="font-size: 20px;font-weight: bold;color: #4BBC87;"> <img src="/static/assets/images/settop.png" alt="" style="vertical-align: text-top;"> 最热议题</span>
                            <span style="color:#454545;margin-left: 5px;">已成为最热</span>
                            <button class="layui-btn layui-btn-xs more" style="">更多></button>
                        </div>
<!-- 在这个 div 循环 最热议题 数据-->
                        <% for(hostIssue in hostIssues) { %>
                        <div class="rightEmergencyIssuesList" style="background: #fff;">
                            <div class="emergencyTitle">
                                <a href="#">${hostIssue.title}</a>
                            </div>
                            <div class="userInformation">
                                <span><img src="/static/assets/images/touxiang.png" alt="" style="margin-right: 5px;">提议人：${hostIssue.createName}</span>
                                <span style="margin-left: 20px;">${hostIssue.createDate}</span>
                                <span style="float: right;"><img src="/static/assets/images/yue.png" alt="" style="margin-right: 3px;">166</span>
                            </div>
                        </div>
                        <% } %>
                    </div>
        </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reply">回复</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="auth">权限分配</a>-->
</script>

    <!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util','element','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var element = layui.element;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#timeRange'
            ,range: true
        });

        //渲染表格
        table.render({
            elem: '#issueTable',
            title:"",
            url: '/discuss/issue/list',
            toolbar: '#issue-toolbar',
            defaultToolbar: false,
            where: $('form').serialize(),
            page: true,
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers', title:'序号'},
                {title: '议题', field: 'title', align: 'center', valign: 'middle'},
                {title: '发起人', field: 'createName', align: 'center', valign: 'middle'},
                {title: '提议时间', field: 'createDate', align: 'center', valign: 'middle'},
                {align: 'center', toolbar: '#tableBar', title: '操作'}
            ]]
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            table.reload('roleTable', {where: $('form').serialize()});
        });

        // 回复
        function showReplyModel(issueId) {
            var url = '/discuss/reply?issueId=' + issueId;
            parent.layui.element.tabDelete('admin-pagetabs',issueId);
            parent.layui.element.tabAdd(
                'admin-pagetabs',{
                    title: '回复议题',
                    content: '<iframe style="height : 100%;"  class="admin-iframe"  src="' + url + '" frameborder="0" />',
                    id: issueId
                }
            );
            parent.layui.element.tabChange('admin-pagetabs',issueId);
        }
        // 工具条点击事件
        table.on('tool(issueTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (obj.event === 'view') {  //查看
                showViewModel(obj.data.id);
            } else if(obj.event === 'reply'){ //回复
                showReplyModel(obj.data.id);
            }
        });

    });
</script>

</body>
</html>