<!DOCTYPE html>

<html>
<head>
    <title></title>
    <% include("../../../layout/cssPart.html"){} %>
</head>
<body>

<!-- 页面加载loading -->
<% include("../../../layout/loading.html"){} %>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">议题标题：</label>
                        <div class="layui-input-inline mr0">
                            <input id="title" class="layui-input" type="text" placeholder="输入关键字"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">提议人：</label>
                        <div class="layui-input-inline mr0">
                            <input name="createName" id="proponent" placeholder="请输入责任领导" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">时间：</label>
                        <div class="layui-input-inline mr0">
                            <input type="text" class="layui-input" id="timeRange" placeholder="请选择时间范围">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>

            <!-- 表格顶部操作列 -->
            <script type="text/html" id="issue-toolbar">
                <div class="layui-btn-container">
                    <%if(shiro.hasPermission("issue:add")){ %>
                    <button id="btn1Add"  class="layui-btn  layui-btn-sm" lay-event="add">
                        <i class="layui-icon">&#xe654;</i>添加
                    </button>
                    <% } %>
                </div>
            </script>

            <table class="layui-table" id="issueTable" lay-filter="issueTable"></table>
        </div>

    </div>
</div>






<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reply">回复</a>
</script>






<!-- js部分 -->
<% include("../../../layout/jsPart.html"){} %>
<!--<script>
    layui.use('element', function(){
        var element = layui.element();
    });
</script>-->
<script>


    layui.use(['layer', 'form', 'table', 'util', 'admin','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#timeRange'
            ,range: true
        });




        //渲染表格
        table.render({
            elem: '#issueTable',
            title:"",
            url: '/discuss/issueUrgent/list',
            toolbar: '#issue-toolbar',
            where: $('form').serialize(),
            page: true,
            cols: [[
                {type: 'numbers', title:'序号'},
                {type: 'checkbox'},
                {title: '标题', field: 'title', align: 'center', valign: 'middle', sort: true},
                {title: '内容', field: 'content', align: 'center', valign: 'middle', sort: true},
                {title: '类型', field: 'issueType', align: 'center', valign: 'middle', sort: true},
                {title: '创建人姓名', field: 'createName', align: 'center', valign: 'middle', sort: true},
                {title: '创建时间', field: 'createDate', align: 'center', valign: 'middle', sort: true},

               /* {field: 'orgType',align: 'center', sort: true, width:140,
                    templet: function (d) {
                        if (d.orgType=="1"){
                            return "区域";
                        } else if (d.orgType=="2"){
                            return "职能部门";
                        }
                    },
                    title: '机构类型'},
                    { field: 'createDate', width:180, sort: true, templet: function (d) {
                    return util.toDateString(d.createDate);
                      },align:'center', title: '创建时间'},
                    */
                {align: 'center', toolbar: '#tableBar', title: '操作'}
            ]]
        });

        //头工具栏事件
        table.on('toolbar(issueTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    showAddModel();
                    break;
                case 'del':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要删除的数据', {icon: 2});
                    } else {
                        var data = checkStatus.data;
                        var id_str="";
                        for (var i=0;i<data.length;i++){
                            id_str +=data[i].id+",";
                        }
                        id_str = id_str.substr(0, id_str.length-1);
                        layer.confirm('真的删除么', function(index){
                            layer.load(2);
                            $.post('issue/batchDelete', {
                                departIds: id_str
                            }, function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg(data.msg, {icon: 1});
                                    obj.del();
                                    // table.reload('Table');
                                } else {
                                    layer.msg(data.msg, {icon: 2});
                                }
                            });
                        });
                    }
                    break;
                case 'export':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkStatus.data, 'xls');
                    }
                    break;
            };
        });


        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var title = $("#title").val();
            var createName  = $("#proponent").val();
            var timeRange = $("#timeRange").val();
            table.render({
                elem: '#issueTable',
                title:"",
                url: '/discuss/issue/search',
                toolbar: '#issue-toolbar',
                where: {title: title, createName: createName, timeRange: timeRange, issueType: 3},
                page: true,
                cols: [[
                    {type: 'numbers', title:'序号'},
                    {type: 'checkbox'},
                    {title: '标题', field: 'title', align: 'center', valign: 'middle', sort: true},
                    {title: '类型', field: 'issueType', align: 'center', valign: 'middle', sort: true, templet: function (d) {
                            if(d.issueType == "1"){
                                return "一般议题";
                            }
                            if(d.issueType == "2"){
                                return "置顶议题";
                            }
                            if(d.issueType == "3"){
                                return "紧急议题";
                            }
                        }},
                    {title: '创建人姓名', field: 'createName', align: 'center', valign: 'middle', sort: true},
                    {title: '创建时间', field: 'createDate', align: 'center', valign: 'middle', sort: true},
                    {align: 'center', toolbar: '#tableBar', title: '操作'}
                ]]
            });
        });

        // 工具条点击事件
        table.on('tool(issueTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (obj.event === 'view') {  //查看
                showViewModel(obj.data.id);
            }else if(obj.event === 'reply'){ //回复
                showReplyModel(obj.data.id);
            }
        });

        // 删除
        function doDelete(obj) {
            top.layer.confirm('确定要删除吗？', function (index) {
                top.layer.close(index);
                layer.load(2);
                $.post('issue/delete', {
                    issueId: obj.data.id
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 显示编辑弹窗
        function showEditModel(data) {
            admin.putTempData('t_issue', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: '修改',
                area: ['350px', '380px'],
                content: '/discuss/issue/issueupdate',
                end: function () {
                    admin.getTempData('formOk') && table.reload('Table');  // 成功刷新表格
                }
            });
        }

        // 显示编辑弹窗
        function showAddModel(data) {
            top.layui.admin.open({
                type: 2,
                title: '添加',
                area: ['650px', '880px'],
                content: '/discuss/issue/issueadd',
                end: function () {
                    admin.getTempData('formOk') && table.reload('roleTable');  // 成功刷新表格
                }
            });
        }

        // 查看
        function showViewModel(issueId) {
            top.layui.admin.open({
                type: 2,
                title: '查看',
                area: ['650px', '880px'],
                content: '/discuss/issue/detail/view/' + issueId
            });
        }

        // 回复
        function showReplyModel(issueId) {
            var url = '/discuss/reply?issueId=' + issueId;
            parent.layui.element.tabDelete('admin-pagetabs',issueId);
            parent.layui.element.tabAdd(
                'admin-pagetabs',{
                    title: '回复议题',
                    content: '<iframe style="height : 100%;"  class="admin-iframe"  src="' + url + '" frameborder="0" />',
                    id: issueId
                }
            );
            parent.layui.element.tabChange('admin-pagetabs',issueId);
        }
        /* // 导出excel
                $('#btnExp').click(function () {
                    var checkRows = table.checkStatus('issueTable');
                    if (checkRows.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkRows.data, 'xls');
                    }
                });*/
    });

</script>
</body>

</html>