<!DOCTYPE html>
<html class="bg-white">

<head>
    <title>修改</title>
    <% include("../../layout/cssPart.html"){} %>
</head>

<body>
<form id="issueForm" lay-filter="issueForm" class="layui-form model-form">
    <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">议题标题</label>
            <div class="layui-input-block">
                <input name="title" id="title" placeholder="请输入议题标题" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">议题内容</label>
            <div class="layui-input-block">
                <input name="content" id="content" placeholder="请输入议题内容" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">议题类型</label>
            <div class="layui-input-block">
                <input name="issueType" id="issueType" placeholder="请输入议题类型" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建人ID</label>
            <div class="layui-input-block">
                <input name="createId" id="createId" placeholder="请输入创建人ID" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建人姓名</label>
            <div class="layui-input-block">
                <input name="createName" id="createName" placeholder="请输入创建人姓名" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input name="createDate" id="createDate" placeholder="请输入创建时间" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改人ID</label>
            <div class="layui-input-block">
                <input name="updateId" id="updateId" placeholder="请输入修改人ID" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改人</label>
            <div class="layui-input-block">
                <input name="updateName" id="updateName" placeholder="请输入修改人" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改时间</label>
            <div class="layui-input-block">
                <input name="updateDate" id="updateDate" placeholder="请输入修改时间" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input name="remark" id="remark" placeholder="请输入备注" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否删除：0 未删除，1已删除</label>
            <div class="layui-input-block">
                <input name="isDel" id="isDel" placeholder="请输入是否删除：0 未删除，1已删除" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="formSubmit" lay-submit>保存</button>
    </div>
</form>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        var url = 'update';
        // 回显数据
        var issue = admin.getTempData('t_issue');
        if (issue) {
            form.val('issueForm', issue);
        }

        // 表单提交事件
        form.on('submit(formSubmit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    admin.putTempData('formOk', true);  // 操作成功刷新表格
                    // 关闭当前iframe弹出层
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });

    });
</script>

</body>
</html>