<!-- 底部 -->
<div class="layui-footer">
    <iframe style="margin-top:10px;width: 200px;height: 28px" allowtransparency="true" frameborder="0"
            scrolling="no"
            src="//tianqi.eastday.com/plugin/widget_v1.html?sc=3&amp;z=1&amp;t=1&amp;v=0&amp;d=1&amp;bd=0&amp;k=&amp;f=&amp;q=1&amp;a=1&amp;c=57083&amp;w=317&amp;h=28&amp;align=center"></iframe>
    <span class="pull-right">Copyright © 2019 <a href="http://www.scsoft.com.cn/" target="_blank">Scsoft</a> All rights reserved.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</span>

</div>

<!-- 手机屏幕遮罩层
<div class="site-mobile-shade"></div>-->
