<!DOCTYPE html>
<html>
<head>
    <title>雪城软件办公管理系统</title>
    <% include("./layout/cssPart.html"){} %>
    <style>
        #wea-items .cloud{
            display: none;
        }
    </style>
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <% include("./layout/header.html"){} %>
    <!-- 侧边栏 -->
    <% include("./layout/side.html"){} %>
    <!-- 主体部分 -->
    <div class="layui-body"></div>
    <!-- 底部 -->
    <% include("./layout/footer.html"){} %>
</div>
<!-- 底部 -->
<% include("./layout/loading.html"){} %>

<!-- js部分 -->
<% include("./layout/jsPart.html"){} %>
<script type="text/javascript" src="${ctxPath }/static/assets/js/main.js"></script>
</body>
</html>