<!DOCTYPE html>
<html class="bg-white">

<head>
    <title>修改疫情上报详情</title>
    <% include("../../layout/cssPart.html"){} %>
</head>

<body>
<form id="detailForm" lay-filter="detailForm" class="layui-form model-form">
    <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input name="userName" id="userName" placeholder="请输入姓名" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                <input name="userDepart" id="userDepart" placeholder="请输入部门" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">外出状态 0 在老家、1、在郑州、2、外出</label>
            <div class="layui-input-block">
                <input name="outState" id="outState" placeholder="请输入外出状态 0 在老家、1、在郑州、2、外出" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否接触武汉反郑</label>
            <div class="layui-input-block">
                <input name="whFz" id="whFz" placeholder="请输入是否接触武汉反郑" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接触详情</label>
            <div class="layui-input-block">
                <input name="whDetail" id="whDetail" placeholder="请输入接触详情" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接触日期</label>
            <div class="layui-input-block">
                <input name="whDate" id="whDate" placeholder="请输入接触日期" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否在信阳、周口、商丘、驻马店、南阳活动</label>
            <div class="layui-input-block">
                <input name="hdXznsz" id="hdXznsz" placeholder="请输入是否在信阳、周口、商丘、驻马店、南阳活动" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否发烧感冒咳嗽 0、正常、1发烧、2、感冒 3、咳嗽4、干呕</label>
            <div class="layui-input-block">
                <input name="fsgm" id="fsgm" placeholder="请输入是否发烧感冒咳嗽 0、正常、1发烧、2、感冒 3、咳嗽4、干呕" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家属是否发烧感冒咳嗽 0、正常、1发烧、2、感冒 3、咳嗽4、干呕</label>
            <div class="layui-input-block">
                <input name="jsfsgm" id="jsfsgm" placeholder="请输入家属是否发烧感冒咳嗽 0、正常、1发烧、2、感冒 3、咳嗽4、干呕" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所在地</label>
            <div class="layui-input-block">
                <input name="address" id="address" placeholder="请输入所在地" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">个人状态是否良好 0是1否</label>
            <div class="layui-input-block">
                <input name="status" id="status" placeholder="请输入个人状态是否良好 0是1否" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交通是否影响，0、正常、1、封路 2、交通管制、3无法反郑</label>
            <div class="layui-input-block">
                <input name="jtyx" id="jtyx" placeholder="请输入交通是否影响，0、正常、1、封路 2、交通管制、3无法反郑" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">解封时间</label>
            <div class="layui-input-block">
                <input name="jfDate" id="jfDate" placeholder="请输入解封时间" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="formSubmit" lay-submit>保存</button>
    </div>
</form>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        var url = 'update';
        // 回显数据
        var detail = admin.getTempData('t_detail');
        if (detail) {
            form.val('detailForm', detail);
        }

        // 表单提交事件
        form.on('submit(formSubmit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    admin.putTempData('formOk', true);  // 操作成功刷新表格
                    // 关闭当前iframe弹出层
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });

    });
</script>

</body>
</html>