<!DOCTYPE html>
<html>
<head>
    <title>疫情上报详情</title>
    <% include("../../layout/cssPart.html"){} %>
</head>
<body>

<!-- 页面加载loading -->
<% include("../../layout/loading.html"){} %>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label">部门：</label>
                            <div class="layui-input-inline mr0">
                                <input name="userDepart" id="userDepart" placeholder="请输入部门" type="text" class="layui-input"/>
                            </div>
                        </div>
                        <input type="hidden" id="type" name="type" value="${type}">
                        <label class="layui-form-label">姓名：</label>
                        <div class="layui-input-inline mr0">
                            <input name="userName" id="userName" placeholder="请输入姓名" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>
            <!-- 表格顶部操作列 -->
            <script type="text/html" id="detail-toolbar">
                <div class="layui-btn-container">
                    <button id="btnExp" class="layui-btn layui-btn-normal layui-btn-sm" >
                        <i class="layui-icon">&#xe67d;</i>导出
                    </button>
                </div>
            </script>
            <table class="layui-table" id="detailTable" lay-filter="detailTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
    <%if(shiro.hasPermission("detail:update")){ %>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <% } %>
    <%if(shiro.hasPermission("detail:delete")){ %>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <% } %>
    <!--<a class="layui-btn layui-btn-xs" lay-event="auth">权限分配</a>-->
</script>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin','core'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var core = layui.core;
        var type=$("#type").val();
        //渲染表格
        table.render({
            elem: '#detailTable',
            title:"疫情上报详情",
            url: '/yqsb/detail/todaylist?type='+type,
            toolbar: '#detail-toolbar',
            where: $('form').serialize(),
            page: true,
            cols: [[
                {type: 'numbers', title:'序号'},
                {type: 'checkbox'},
                {title: '部门', field: 'userDepart', align: 'center', valign: 'middle', sort: true},
                {title: '姓名', field: 'userName', align: 'center', valign: 'middle', sort: true}
            ]]
        });


        //头工具栏事件
        table.on('toolbar(detailTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    showAddModel();
                    break;
                case 'del':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要删除的数据', {icon: 2});
                    } else {
                        var data = checkStatus.data;
                        var id_str="";
                        for (var i=0;i<data.length;i++){
                            id_str +=data[i].id+",";
                        }
                        id_str = id_str.substr(0, id_str.length-1);
                        layer.confirm('真的删除么', function(index){
                            layer.load(2);
                            $.post('detail/batchDelete', {
                                departIds: id_str
                            }, function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg(data.msg, {icon: 1});
                                    obj.del();
                                    // table.reload('疫情上报详情Table');
                                } else {
                                    layer.msg(data.msg, {icon: 2});
                                }
                            });
                        });
                    }
                    break;
                case 'export':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkStatus.data, 'xls');
                    }
                    break;
            };
        });


        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            table.reload('detailTable', {where: $('form').serialize()});
        });

        // 工具条点击事件
        table.on('tool(detailTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (obj.event === 'view') {  //查看
                showViewModel(obj.data.id);
            }
        });

        // 删除
        function doDelete(obj) {
            top.layer.confirm('确定要删除吗？', function (index) {
                top.layer.close(index);
                layer.load(2);
                $.post('detail/delete', {
                    detailId: obj.data.id
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 显示编辑弹窗
        function showEditModel(data) {
            admin.putTempData('t_detail', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: '修改疫情上报详情',
                area: ['350px', '380px'],
                content: '/yqsb/detail/detailupdate',
                end: function () {
                    admin.getTempData('formOk') && table.reload('疫情上报详情Table');  // 成功刷新表格
                }
            });
        }

        // 显示编辑弹窗
        function showAddModel(data) {
            top.layui.admin.open({
                type: 2,
                title: '添加疫情上报详情',
                area: ['350px', '380px'],
                content: '/yqsb/detail/detailadd',
                end: function () {
                    admin.getTempData('formOk') && table.reload('roleTable');  // 成功刷新表格
                }
            });
        }

        // 查看
        function showViewModel(detailId) {
            top.layui.admin.open({
                type: 2,
                title: '查看',
                area: ['380px', '455px'],
                content: 'detail/detail/' + detailId
            });
        }
        /* // 导出excel
                $('#btnExp').click(function () {
                    var checkRows = table.checkStatus('detailTable');
                    if (checkRows.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkRows.data, 'xls');
                    }
                });*/
    });

</script>
</body>

</html>