<!DOCTYPE html>
<html>
<head>
    <title>疫情上报详情</title>
    <% include("../../layout/cssPart.html"){} %>
</head>
<body>

<!-- 页面加载loading -->
<% include("../../layout/loading.html"){} %>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">外出状态:</label>
                        <div class="layui-input-inline mr0">
                            <#dict_tag id="outState" name="outState" defaultVal="" dictCode="out_state" lay-verify="required"/>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">重点区域活动：</label>
                        <div class="layui-input-inline mr0">
                            <#dict_tag id="hdXznsz" name="hdXznsz" defaultVal="" dictCode="hd_xznsz"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">发烧感冒：</label>
                        <div class="layui-input-inline mr0">
                            <#dict_tag id="fsgm" name="fsgm" defaultVal="" dictCode="fsgm"/>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">交通影响：</label>
                        <div class="layui-input-inline mr0">
                            <#dict_tag id="jtyx" name="jtyx" defaultVal="" dictCode="jtyx"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>
            <!-- 表格顶部操作列 -->
            <script type="text/html" id="detail-toolbar">
                <div class="layui-btn-container">
                    <%if(shiro.hasPermission("detail:add")){ %>
                    <button id="btn1Add"  class="layui-btn  layui-btn-sm" lay-event="add">
                        <i class="layui-icon">&#xe654;</i>添加
                    </button>
                    <% } %>
                    <%if(shiro.hasPermission("detail:delete")){ %>
                    <button id="btnDel" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">
                        <i class="layui-icon">&#xe640;</i>删除
                    </button>
                    <% } %>
                    <button id="btnExp" class="layui-btn layui-btn-normal layui-btn-sm"  lay-event="export">
                        <i class="layui-icon">&#xe67d;</i>导出
                    </button>
                </div>
            </script>
            <table class="layui-table" id="detailTable" lay-filter="detailTable"></table>

        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
    <%if(shiro.hasPermission("detail:update")){ %>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <% } %>
    <%if(shiro.hasPermission("detail:delete")){ %>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <% } %>
    <!--<a class="layui-btn layui-btn-xs" lay-event="auth">权限分配</a>-->
</script>

<!-- js部分 -->
<% include("../../layout/jsPart.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var userId="${userId}";
        //渲染表格
        table.render({
            elem: '#detailTable',
            title:"疫情上报详情",
            url: '/yqsb/detail/oneselfList?userId='+userId,
            toolbar: '#detail-toolbar',
            where: $('form').serialize(),
            page: true,
            cols: [[
                {type: 'numbers', title:'序号'},
                {type: 'checkbox'},
                {title: '部门', field: 'userDepart', width:150, align: 'center', valign: 'middle', sort: true},
                {title: '姓名', field: 'userName', width:100,align: 'center', valign: 'middle', sort: true},
                {title: '上报时间', width:150,field: 'createDate', align: 'center', valign: 'middle', sort: true},
                {title: '所在地', field: 'address',width:200, align: 'center', valign: 'middle', sort: true},
                {title: '外出状态', width:100,field: 'outState', align: 'center', valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.outState=="0"){
                            return "在老家";
                        } else if (d.outState=="1"){
                            return "在郑州";
                        } else if (d.outState=="2"){
                            return "外出";
                        }else{
                            return "其他";
                        }
                    }
                },
                {title: '接触情况', field: 'whFz',width:130, align: 'center', valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.whFz=="0"){
                            return "无接触";
                        } else if (d.whFz=="1"){
                            return "接触武汉人员";
                        } else if (d.whFz=="2"){
                            return "接触确诊病例";
                        } else if (d.whFz=="3"){
                            return "接触疑似病例";
                        } else{
                            return "其他";
                        }
                    }
                },
                // {title: '接触详情', field: 'whDetail',width:200, align: 'center', valign: 'middle', sort: true},
                {title: '活动区域',width:120, field: 'hdXznsz', align: 'center', valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.hdXznsz=="0"){
                            return "郑州";
                        } else if (d.hdXznsz=="1"){
                            return "信阳";
                        } else if (d.hdXznsz=="2"){
                            return "南阳";
                        } else if (d.hdXznsz=="3"){
                            return "驻马店";
                        } else if (d.hdXznsz=="4"){
                            return "商丘";
                        } else if (d.hdXznsz=="5"){
                            return "安阳";
                        } else if (d.hdXznsz=="6"){
                            return "周口";
                        } else if (d.hdXznsz=="7"){
                            return "其他区域";
                        }else{
                            return "其他";
                        }
                    }
                },
                {title: '是否感冒', field: 'fsgm', align: 'center', valign: 'middle',width:100, sort: true,
                    templet: function (d) {
                        if (d.fsgm=="0"){
                            return "正常";
                        } else if (d.fsgm=="1"){
                            return "发烧";
                        } else if (d.fsgm=="2"){
                            return "感冒";
                        } else if (d.fsgm=="3"){
                            return "咳嗽";
                        } else if (d.fsgm=="4"){
                            return "干呕";
                        } else if (d.fsgm=="5"){
                            return "上火";
                        } else if (d.fsgm=="6"){
                            return "流鼻涕";
                        } else if (d.fsgm=="7"){
                            return "头痛";
                        } else if (d.fsgm=="8"){
                            return "拉肚子";
                        }else{
                            return "其他";
                        }
                    }
                },
                {title: '家属是否感冒', field: 'jsfsgm', align: 'center',width:120, valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.jsfsgm=="0"){
                            return "正常";
                        } else if (d.jsfsgm=="1"){
                            return "发烧";
                        } else if (d.jsfsgm=="2"){
                            return "感冒";
                        } else if (d.jsfsgm=="3"){
                            return "咳嗽";
                        } else if (d.jsfsgm=="4"){
                            return "干呕";
                        } else if (d.jsfsgm=="5"){
                            return "上火";
                        } else if (d.jsfsgm=="6"){
                            return "流鼻涕";
                        } else if (d.jsfsgm=="7"){
                            return "头痛";
                        } else if (d.jsfsgm=="8"){
                            return "拉肚子";
                        }else{
                            return "其他";
                        }
                    }
                },
                {title: '确诊情况', field: 'status', width:150,align: 'center', valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.status=="0"){
                            return "(县区)无确诊";
                        } else if (d.status=="1"){
                            return "(县区)有(乡镇办事处)无";
                        } else if (d.status=="2") {
                            return "(乡镇办事处)有，(村社区)无";
                        }else if (d.status=="3"){
                            return "村、社区有";
                        } else{
                            return "其他";
                        }
                    }
                },
                {title: '交通影响', field: 'jtyx',width:120, align: 'center', valign: 'middle', sort: true,
                    templet: function (d) {
                        if (d.jtyx=="0"){
                            return "正常";
                        } else if (d.jtyx=="1"){
                            return "封路";
                        } else if (d.jtyx=="2"){
                            return "交通管制";
                        }else if (d.jtyx=="3"){
                            return "无法反郑";
                        }else{
                            return "封小区";
                        }
                    }
                },
                {title: '解封时间', width:150,field: 'jfDate', align: 'center', valign: 'middle', sort: true}
            ]]
        });


        //头工具栏事件
        table.on('toolbar(detailTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    showAddModel();
                    break;
                case 'del':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要删除的数据', {icon: 2});
                    } else {
                        var data = checkStatus.data;
                        var id_str="";
                        for (var i=0;i<data.length;i++){
                            id_str +=data[i].id+",";
                        }
                        id_str = id_str.substr(0, id_str.length-1);
                        layer.confirm('真的删除么', function(index){
                            layer.load(2);
                            $.post('detail/batchDelete', {
                                departIds: id_str
                            }, function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg(data.msg, {icon: 1});
                                    obj.del();
                                    // table.reload('疫情上报详情Table');
                                } else {
                                    layer.msg(data.msg, {icon: 2});
                                }
                            });
                        });
                    }
                    break;
                case 'export':
                    if (checkStatus.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(obj.config.id, checkStatus.data, 'xls');
                    }
                    break;
            };
        });


        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var userName=$('#userName').val();//获取姓名
            var userDepart=$('#userDepart').val();//获取部门
            var outState=$('#outState').val();//获取外出状态
            var hdXznsz=$('#hdXznsz').val();//重点区域
            var fsgm=$('#fsgm').val();//获取发烧感冒
            var jtyx=$('#jtyx').val();//获取姓名

            table.reload('detailTable', {where:{userName:userName,userDepart:userDepart,outState:outState,hdXznsz:hdXznsz,fsgm:fsgm,jtyx:jtyx}});
        });

        // 工具条点击事件
        table.on('tool(detailTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (obj.event === 'view') {  //查看
                showViewModel(obj.data.id);
            }
        });

        // 删除
        function doDelete(obj) {
            top.layer.confirm('确定要删除吗？', function (index) {
                top.layer.close(index);
                layer.load(2);
                $.post('detail/delete', {
                    detailId: obj.data.id
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 显示编辑弹窗
        function showEditModel(data) {
            admin.putTempData('t_detail', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: '修改疫情上报详情',
                area: ['350px', '380px'],
                content: '/yqsb/detail/detailupdate',
                end: function () {
                    admin.getTempData('formOk') && table.reload('疫情上报详情Table');  // 成功刷新表格
                }
            });
        }

        // 显示编辑弹窗
        function showAddModel(data) {
            top.layui.admin.open({
                type: 2,
                title: '添加疫情上报详情',
                area: ['350px', '380px'],
                content: '/yqsb/detail/detailadd',
                end: function () {
                    admin.getTempData('formOk') && table.reload('roleTable');  // 成功刷新表格
                }
            });
        }

        // 查看
        function showViewModel(detailId) {
            top.layui.admin.open({
                type: 2,
                title: '查看',
                area: ['380px', '455px'],
                content: 'detail/detail/' + detailId
            });
        }
        /* // 导出excel
                $('#btnExp').click(function () {
                    var checkRows = table.checkStatus('detailTable');
                    if (checkRows.data.length == 0) {
                        layer.msg('请选择要导出的数据', {icon: 2});
                    } else {
                        table.exportFile(ins1.config.id, checkRows.data, 'xls');
                    }
                });*/
    });

</script>
</body>

</html>