<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scsoft.wlyz.discuss.mapper.IssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scsoft.wlyz.discuss.entity.Issue">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="ISSUE_TYPE" property="issueType" />
        <result column="ISSUE_SHIRO_TYPE" property="issueShiroType"/>
        <result column="CREATE_ID" property="createId" />
        <result column="CREATE_NAME" property="createName" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="UPDATE_NAME" property="updateName" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="REMARK" property="remark" />
        <result column="IS_DEL" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, CONTENT, ISSUE_TYPE,ISSUE_SHIRO_TYPE, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_ID, UPDATE_NAME, UPDATE_DATE, REMARK, IS_DEL
    </sql>

    <select id="listPageByMap" resultMap="BaseResultMap">
        SELECT * FROM yz_issue
        <where>
            <if test="issueType != null">
                AND ISSUE_TYPE = #{issueType}
            </if>
            <if test="titleLike != null">
                AND TITLE like #{titleLike}
            </if>
            <if test="createName != null">
                AND CREATE_NAME = #{createName}
            </if>
            <if test="createDateStart != null">
                AND CREATE_DATE &gt;= to_dat(#{createDateStart},'yyyy-MM-dd')
            </if>
            <if test="createDateEnd != null">
                AND CREATE_DATE &lt;= to_dat(#{createDateEnd},'yyyy-MM-dd')
            </if>
        </where>
    </select>

</mapper>
